footer {
  display: flex;
  justify-content: space-between;
  width: 18rem;
  border-top: 2px solid var(--accent);
  position: absolute;
  bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: inherit;
}
