@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("./header.css");
@import url("./search.css");
@import url("./results.css");
@import url("./footer.css");
:root {
  --neutral-950: #0a0a0a;
  --neutral-900: #171717;
  --neutral-500: #737373;
  --neutral-50: #fafafa;
  --violet-300: #c4b5fd;
  --pink-300: #f9a8d4;

  --accent: var(--violet-300);
}

body {
  background-color: var(--neutral-950);
  color: var(--neutral-50);
  width: 18rem;
  font-size: 1rem;
  margin: 0 auto;
  font-family: "Archivo", sans-serif;
}

a {
  text-decoration: none;
  color: var(--neutral-50);
}

.pre {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
}

* {
  transition: color 0.4s ease-in;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.15rem;
    width: 25rem;
  }
  header {
    font-size: 2rem;
  }
  #search {
    font-size: 1.15rem;
    padding: 20px;
  }
  .result {
    padding: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  #searchBtn {
    display: none;
  }
}
