header {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0;
  border-bottom: 2px solid var(--accent);
  margin-bottom: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

header > a > span {
  font-style: italic;
  color: var(--accent);
}
